---
---

{% include reset.css %}
{% include header-footer.css %}

body {
  background-color: #FFF;
  font-family: 'Alegreya Sans';
  color: #FFFFFF;
  line-height: 1.6;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Bagian Content */
.content {
  position: relative;
  background-color: #FFFFFF;
  margin: 2.5rem auto 0;
  width: 100%;
}

/*Bagian Konten Pertama (Little About Me)*/
.first-content {
  position: relative;
  color: #333333;
  text-align: center;
  padding: 3.125rem 10.625rem;
  /*background-color: rgb(1, 140, 207);*/
}

.first-content div:first-child {
  font-size: 3.3rem;
  margin-bottom: 2.187rem;
  color: #424141;
}

.first-content div:nth-child(2) {
  font-size: 1.67rem;
  font-style: italic;
  margin-bottom: 2.5rem;
  color: #424141;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  /*background-color: rgb(41, 221, 37);*/
}

.first-content div:nth-child(2) p {
  text-align: left;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  /*background-color: rgb(185, 151, 171);*/
}

.first-content div:nth-child(2) img {
  margin-left: 3.125rem;
  width: 15.625rem;
  height: 15.875rem;
}



/*Bagian Konten Kedua (Some like hobbies)*/
.second-content {
  position: relative;
  background-color: #2595f6;
  padding: 1.875rem 10.625rem 3.125rem;
  text-align: center;
}

.second-content p:first-child {
  font-size: 3.3rem;
  margin-bottom: 1.25rem;
}

.hobby {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 3.125rem;
}

.second-content div div {
  width: 100%;
  padding: 0 1.25rem;
  font-size: 1.5rem;
}
.second-content div div img {
  width: 8.125rem;
  height: 8.125rem;
}

/*.second-content  div div:first-child {
  background-color: rgb(156, 8, 62);
}

.second-content div div:nth-child(2) {
  background-color: rgb(95, 108, 13);
}

.second-content div div:nth-child(3) {
  background-color: rgb(122, 59, 117);
}*/



/*Bagian Konten Ketiga (About Project, Work)*/
.third-content {
  position: relative;
  background-color: #828282;
  padding: 1.875rem 10.625rem;
  padding-bottom: 3.125rem;
  text-align: center;
}

.third-content p:first-child {
  color: #fff;
  font-size: 3.3rem;
  margin-bottom: 1.875rem;
}

.third-content > div {
  /*background-color: #eee0aa;*/
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
}

.project {
  position: relative;
  background-color: #222;
  width: 45%;
  height: 28.125rem;
  font-size: 1.75rem;
}

  .project:first-child {
    background: url('../image/personal1.png') no-repeat;
    background-size: cover;
  }

  .project:nth-child(2) {
    background: url('../image/personal2.png') no-repeat;
    background-size: cover;
  }

  .project > a {
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    background-color: rgba(0,0,0,0.8);
    color: #fff;
    text-decoration: none;
    opacity: 0;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    line-height: 450px;
  }

    .project > a:hover {
      opacity: 1;
    }

    .project span {
      display: inline-block;
      text-align: center;
    }



/*Bagian Konten Keempat (About Bar Teknikal Skill)*/
.fourth-content {
  position: relative;
  background-color: #afafaf;
  padding: 1.875rem 10.625rem;
  padding-bottom: 3.125rem;
  text-align: center;
}

.fourth-content > p {
  font-size: 3.3rem;
}

.fourth-content div {
  position: relative;
  background-color: #fff;
  margin: 1.25rem auto;
  height: 3.125rem;
  width: 40.625rem;
}

.fourth-content > div:nth-child(4) {
  margin-bottom: 3.125rem;
}

.fourth-content div p {
  position: relative;
  background-color: #2595f6;
  height: 100%;
  text-align: left;
  padding: 3px 0 3px 20px;
  font-size: 1.7rem;
  font-weight: 600;
}

.bar1 p {
  width: 75%;
}

.bar2 p {
  width: 45%;
}

.bar3 p {
  width: 35%;
}

.fourth-content a {
  text-decoration: none;
  font-size: 1.5rem;
  padding: 10px 40px;
  border: 2px solid #fff;
  color: #fff;
  -webkit-transition: all 0.5s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.fourth-content a:hover {
  border: 2px solid #fff;
  background-color: #fff;
  color: #424141;
}
/*Bagian Konten Kelima (Social Link)*/
.fifth-content {
  position: relative;
  background-color: #3f3f3f;
  padding: 30px 170px;
  padding-bottom: 50px;
  text-align: center;
}

.fifth-content > div:first-child {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  /*background-color: #98f187;*/
  margin-bottom: 30px;
}

.fifth-content div:first-child div {
  width: 100%;
  height: 100px;
}
.fifth-content div:first-child div a img {
  width: 100px;
  height: 100%;
}


.fifth-content > div:nth-child(2) {
  position: relative;
  border-top: 3px solid #fff;
  /*background-color: #415d3c;*/
  padding-top: 25px;
}

.fifth-content > div:nth-child(2) a {
  text-decoration: none;
  color: #fff;
  font-size: 4em;
}
