---
---

{% include reset.css %}
{% include header-footer.css %}

html {
  font-size: 62.5%;
}

body {
  background-color: #FFF;
  font-size: 1.5em;
  font-family: 'Alegreya Sans';
  color: #FFFFFF;
  line-height: 1.6;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: inherit;
}

.content {
  position: relative;
  background-color: #FFFFFF;
  margin: 2.5rem auto 0;
  width: 100%;
}

.profil {
  position: relative;
  font-size: 3rem;
  padding: 15rem;
  text-align: center;
  color: black;
}
